mixin Form(_board, isThread, captcha)
    table
        tbody
            if !_board.boardSettings.strictAnonymity
                tr
                    td.postblock= LOCALE.FORM_NAME
                    td
                        input(type='text' name='name' size=28)
                tr
                    td.postblock= LOCALE.FORM_EMAIL
                    td
                        input(type='text' name='email' size=28)
            tr
                td.postblock= LOCALE.FORM_SUBJECT
                td
                    input(type='text' name='subject' size=35)
                    input(type='submit' value=LOCALE.FORM_SUBMIIT)
            tr
                td.postblock= LOCALE.FORM_COMMENT
                td
                    textarea(name='comment' rows=6 cols=60)
            if !isThread
              if _board.boardSettings.threadFileAttachmentMode !== 'FORBIDDEN'
                  tr
                      td.postblock= LOCALE.FORM_FILE
                      td
                          input(type='file' name='file' size=35 accept=_board.boardSettings.allowedFileTypes.join(','))
            if isThread
                if _board.boardSettings.replyFileAttachmentMode !== 'FORBIDDEN'
                    tr
                        td.postblock= LOCALE.FORM_FILE
                        td
                            input(type='file' name='file' size=35 accept=_board.boardSettings.allowedFileTypes.join(','))
            if _board.boardSettings.enableCaptcha
              tr
                td.postblock= LOCALE.FORM_CAPTCHA
                td
                    | !{captcha.image}
                    br
                    input(type='text' size=15 name='captcha')
                    input(type='hidden' name='nya' value=captcha.cryptoAnswer)
            tr
                td.postblock= LOCALE.FORM_PASSWORD
                td
                    input(type='password' name='password' size=8)
                    |  (#{LOCALE.FORM_PASSWORD_EXPLANATION})
            if isThread
              td.postblock= LOCALE.OPTIONS
              td
                label
                    input(type='checkbox' name='sage')
                    = LOCALE.FORM_DONT_HIT
            tr
                td(colspan=2)
                    div.rules
                        ul
                            li #{LOCALE.FORM_RULES_ALLOWED_FILE_TYPES} #{_board.boardSettings.allowedFileTypes.map(t => t.split('/')[1]).join(', ').toUpperCase()}
                            li #{LOCALE.FORM_RULES_MAX_FILE_SIZE} #{fileSize(_board.boardSettings.maxFileSize)}
                            li #{LOCALE.FORM_RULES_THUMB}
                        | !{_board.boardSettings.rules}
    hr
