mixin Post(_board, _post, is_thread)
    if _post.attachedFile
        if _post.attachedFile.name === 'NO_THUMB'
          div.nothumb= LOCALE.POST_NO_FILE
        else
            span.filesize
                = LOCALE.POST_FILE
                =' '
                a(target='_blank' href=`/${_board.url}/src/${_post.attachedFile.name}`) #{_post.attachedFile.name}
                =' '
                | (
                em
                    | #{fileSize(_post.attachedFile.size)}
                    if _post.attachedFile.isImage
                        = ", "
                        | #{_post.attachedFile.width}x#{_post.attachedFile.height}
                | )
                =' '
                if _post.attachedFile.isImage
                    if _post.attachedFile.width > 200 && _post.attachedFile.height > 200
                        span.thumbnailmsg= LOCALE.POST_THUMBNAIL_MSG
                br
                a(target='_blank' href=`/${_board.url}/src/${_post.attachedFile.name}`)
                    if _post.attachedFile.isImage
                        img.thumb(src=`/${_board.url}/thumb/${_post.attachedFile.thumbnail}` width=_post.attachedFile.thumbnailWidth height=_post.attachedFile.thumbnailHeight alt=_post.attachedFile.size)
                    else
                        img.thumb(src=`/img/file.png` width=86 height=86 alt=_post.attachedFile.size)
    a(name=_post.num.toString())
    label
        input(type='checkbox' name='delete' value=_post.num.toString())
        =' '
        if _post.hasSage
            span.sage= LOCALE.POST_SAGE_SYMBOL
        if _post.isAdmin
            span.adminPost(title=LOCALE.POST_BY_ADMIN)= LOCALE.POST_ADMIN_SYMBOL
        =' '
        span.filetitle=_post.subject
        =' '
        if _post.email
            span.commentpostername
                a(href=`mailto:${_post.email}`)= _post.name
        else
            span.commentpostername= _post.name
        =' '
        if _post.tripcode
            span.postertrip
                | !#{_post.tripcode}
        =' '
        if !is_thread
            | #{formatDateTime(_post.createdAt)}
        else
            | #{formatDateTime(_post.date)}
        =' '
    span.reflink
        if is_thread
            a(href=`javascript:insert('postform', '>>${_post.num.toString()}')`) No. #{_post.num.toString()}
        else
            a(href=`/${_board.url}/res/${_post.num.toString()}.html#i${_post.num.toString()}`) No. #{_post.num.toString()}
        | &nbsp;
    if !is_thread
        span.replytothread
            | [
            a(href=`/${_board.url}/res/${_post.num.toString()}.html`)= LOCALE.POST_REPLY
            | ]
    if !is_thread
        blockquote !{truncateText(_post.comment, _board.url, _post.num, _post.num)}
    else
        blockquote !{_post.comment}
