mixin Reply(_board, _opening_post, _post, is_thread)
    table
        tbody
            tr
            td.doubledash >>
            td.reply(id=`reply${_post.num}`)
                a(name=_post.num)
                label
                    input(type='checkbox' name='delete' value=_post.num)
                    =' '
                    span.replytitle #{_post.subject}
                    =' '
                    if _post.email
                        if _post.tripcode
                            span.postertrip
                                a(href=`mailto:${_post.email}`)= _post.tripcode
                        else
                            span.postername
                                a(href=`mailto:${_post.email}`)= _post.name
                    else
                        if _post.tripcode
                            span.postertrip= _post.tripcode
                        else
                            span.postername= _post.name
                    =' '
                    | #{formatDateTime(_post.date)}
                    =' '
                span.reflink
                    if is_thread
                        a(href=`javascript:insert(\'>>${_post.num}\')`) No. #{_post.num}
                    else
                        a(href=`/${_board.url}/res/${_opening_post.num}.html#i${_post.num}`) No. #{_post.num}
                | &nbsp;
                if _post.attachedFile
                  br
                  span.filesize
                    | File:
                    =' '
                    a(target='_blank' href=`/${_board.url}/src/${_post.attachedFile.name}`) #{_post.attachedFile.name}
                    =' '
                    | (
                    em
                      | #{fileSize(_post.attachedFile.size)}
                      if _post.attachedFile.isImage
                        | ,
                        =' '
                        | #{_post.attachedFile.width}x#{_post.attachedFile.height}
                    | )
                    =' '
                    if _post.attachedFile.isImage
                      if _post.attachedFile.width > 200 && _post.attachedFile.height > 200
                          span.thumbnailmsg A reduced copy is shown, the original can be viewed by clicking on it.
                    br
                    a(target='_blank' href=`/${_board.url}/src/${_post.attachedFile.name}`)
                        if _post.attachedFile.isImage
                            img.thumb(
                                src=`/${_board.url}/thumb/${_post.attachedFile.thumbnail}`
                                width=_post.attachedFile.thumbnailWidth
                                height=_post.attachedFile.thumbnailHeight
                                alt=_post.attachedFile.size
                            )
                        else
                            img.thumb(src=`/img/${compileFileStub(_post.attachedFile.mime)}` width=86 height=86 alt=_post.attachedFile.size)
                blockquote !{_post.comment}
