mixin Reply(_board, _opening_post, _post, is_thread)
    table
        tbody
            tr
            td.doubledash >>
            td.reply(id=`reply${_post.num.toString()}`)
                a(name=_post.num.toString())
                label
                    input(type='checkbox' name='delete' value=_post.num.toString())
                    =' '
                    if _post.hasSage
                      span.sage= LOCALE.POST_SAGE_SYMBOL
                    if _post.isAdmin
                      span.adminPost(title=LOCALE.POST_BY_ADMIN)= LOCALE.POST_ADMIN_SYMBOL
                    =' '
                    span.replytitle #{_post.subject}
                    =' '
                    if _post.email
                        span.postername
                            a(href=`mailto:${_post.email}`)= _post.name
                    else
                        span.postername= _post.name
                    =' '
                    if _post.tripcode
                        span.postertrip
                            | !#{_post.tripcode}
                    =' '
                    if !is_thread
                        | #{formatDateTime(_post.createdAt)}
                    else
                        | #{formatDateTime(_post.date)}
                    =' '
                span.reflink
                    if is_thread
                        a(href=`javascript:insert('postform', '>>${_post.num.toString()}')`) No. #{_post.num.toString()}
                    else
                        a(href=`/${_board.url}/res/${_opening_post.num.toString()}.html#i${_post.num.toString()}`) No. #{_post.num.toString()}
                | &nbsp;
                if _post.attachedFile
                  if _post.attachedFile.name === 'NO_THUMB'
                    br
                    div.nothumb= LOCALE.POST_NO_FILE
                  else
                    br
                    span.filesize
                      | File:
                      =' '
                      a(target='_blank' href=`/${_board.url}/src/${_post.attachedFile.name}`) #{_post.attachedFile.name}
                      =' '
                      | (
                      em
                        | #{fileSize(_post.attachedFile.size)}
                        if _post.attachedFile.isImage
                          | ,
                          =' '
                          | #{_post.attachedFile.width}x#{_post.attachedFile.height}
                      | )
                      =' '
                      if _post.attachedFile.isImage
                        if _post.attachedFile.width > 200 && _post.attachedFile.height > 200
                            span.thumbnailmsg= LOCALE.POST_THUMBNAIL_MSG
                      br
                      a(target='_blank' href=`/${_board.url}/src/${_post.attachedFile.name}`)
                          if _post.attachedFile.isImage
                              img.thumb(
                                  src=`/${_board.url}/thumb/${_post.attachedFile.thumbnail}`
                                  width=_post.attachedFile.thumbnailWidth
                                  height=_post.attachedFile.thumbnailHeight
                                  alt=_post.attachedFile.size
                              )
                          else
                              img.thumb(src=`/img/file.png` width=86 height=86 alt=_post.attachedFile.size)
                if !is_thread
                    blockquote !{truncateText(_post.comment, _board.url, _opening_post.num, _post.num)}
                else
                    blockquote !{_post.comment}
