include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.IP_FILTER)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.IP_FILTER} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            = LOCALE.EDIT_IP_BLACKLIST

        div(align='center')
            form(method='post' action='/kashiwa/ip-filter')
                textarea(rows=45 cols=60 name='blackList') #{blackList}
                br
                input(type='submit' value=LOCALE.UPDATE)
