extends ../layouts/footered_layout
include ../components/admin_bar
include ../components/admin_links

mixin DashboardHeader()
    h3
        | #{LOCALE.ENGINE_VERSION}:
        =' '
        a(href='https://github.com/d-indifference/kashiwa' target='_blank') #{engineVersion}


mixin DashboardTechnicalInfo()
    h3= LOCALE.TECHNICAL_INFO
    ul
        li
            | #{LOCALE.UPTIME} -
            =' '
            b #{uptime}


mixin DashboardCpuDetail(option_name, option_value)
    li
        | #{option_name} -
        =' '
        b #{option_value}


mixin DashboardCpuDetails()
    h5=`${LOCALE.CPU_DETAILS} (${cpus.length})`
    div#cpu_section
        hr
        each cpu, index in cpus
            b CPU ##{index + 1}
            ul
                +DashboardCpuDetail('Model', cpu.model)
                +DashboardCpuDetail('Speed', cpu.speed)
                +DashboardCpuDetail('User time', cpu.times.user)
                +DashboardCpuDetail('System time', cpu.times.sys)
                +DashboardCpuDetail('Idle time', cpu.times.idle)
                +DashboardCpuDetail('IRQ time', cpu.times.irq)
        hr


mixin DashboardMemoryDetail(option_name, option_value)
    li
        | #{option_name} -
        =' '
        b #{fileSize(option_value)}


mixin DashboardMemoryDetails()
    p= LOCALE.MEMORY_USAGE
    ul
        +DashboardMemoryDetail(LOCALE.TOTAL_MEMORY, memory.total)
        +DashboardMemoryDetail(LOCALE.FREE_MEMORY, memory.free)
        +DashboardMemoryDetail(LOCALE.IN_USAGE_MEMORY, memory.free)


mixin DashboardHostAndPorts()
    p
        | #{LOCALE.DEBUG_PORT}:
        =' '
        b #{debugPort}
        =' '
        | !{LOCALE.NODE_JS_DEBUGGING_GUIDE}
    p
        =LOCALE.APP_PORT
        b #{port}
    p
        abbr(title=LOCALE.HOST_NAME_ABBR)= LOCALE.HOST_NAME
        =' '
        b #{host}


mixin DashboardNodeJS()
    h3 Node.js
    p
        a(href='https://nodejs.org/' target='_blank') Node.js
        = LOCALE.VERSION
        b v#{processVersions.node}

        h5= LOCALE.NODE_JS_DETAILS
        ol
          each proc in Object.keys(processVersions)
              li
                  | #{proc}:
                  =' '
                  b #{processVersions[proc]}


mixin DashboardToolDetail(tool_name, link, version)
    h3= tool_name
    p
        a(href=link target='_blank') #{tool_name}
        = LOCALE.VERSION
        b #{version}


mixin DashboardToolDetails()
    +DashboardToolDetail('PostgreSQL', 'https://www.postgresql.org/', postgresVersion)
    +DashboardToolDetail('PgDump', 'https://www.postgresql.org/docs/current/app-pgdump.html', pgDumpVersion)
    +DashboardToolDetail('ImageMagick', 'https://imagemagick.org/index.php', imageMagickVersion)
    +DashboardToolDetail('FFMPEG', 'https://ffmpeg.org', ffMpegVersion)
    +DashboardToolDetail('Zip', 'https://manpages.ubuntu.com/manpages/noble/man1/zip.1.html', zipVersion)


mixin DashboardDependencies(locale, dependencies_list)
    h3= locale
    ul
      each dependency in Object.keys(dependencies_list)
        li
            a(href=`https://www.npmjs.com/package/${dependency}` target='_blank') #{dependency}
            =': '
            b #{dependencies_list[dependency]}


block content
    +ManagementAdminBar(session.payload.role)

    div.logo #{LOCALE.MANAGEMENT} - #{SITE_SETTINGS().siteName}
    hr
    +AdminLinks(session.payload.role)

    div.theader= commons.pageSubtitle

    if session.payload.role !== 'ADMINISTRATOR'
        div(align='center')
            p= LOCALE.MODERATOR_WELCOME
    else
        div.admin-info-panel
            table(style='margin: 0 auto')
                tr
                    td
                        +DashboardHeader()
                        p= LOCALE.CURRENTLY_POSTS(totalComments, totalBoards)

                        if session.payload.role === 'ADMINISTRATOR'
                            p #{LOCALE.DISK_SPACE_USED} #{fileSize(diskSpaceUsed)}
                            +DashboardTechnicalInfo()
                            +DashboardCpuDetails()
                            +DashboardMemoryDetails()
                            +DashboardHostAndPorts()
                            +DashboardNodeJS()
                            +DashboardToolDetails()
                            +DashboardDependencies(LOCALE.DEPENDENCIES, dependencies)
                            +DashboardDependencies(LOCALE.DEV_DEPENDENCIES, devDependencies)




