include ../../_inc/thread/_head

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.MANAGEMENT)
    body
        div.adminbar
            | [
            a(href='/kashiwa')= LOCALE.MANAGEMENT
            | ]
            | [
            a(href='/')= LOCALE.MAIN_PAGE
            | ]
        div.logo #{SITE_SETTINGS().siteName}
        hr
        | [
        a(href=`/`)= LOCALE.GO_BACK
        | ]
        div.theader= LOCALE.SIGN_UP
        div.postarea
            form(action='/kashiwa/auth/sign-up' method='post')
                table
                    tbody
                        tr
                            td.postblock= LOCALE.USERNAME
                            td
                                input(type='text' name='username' size=28)
                        tr
                            td.postblock= LOCALE.FORM_EMAIL
                            td
                                input(type='email' name='email' size=28)
                        tr
                            td.postblock= LOCALE.FORM_PASSWORD
                            td
                                input(type='password' name='password' size=28)
                div(align='center')
                    input(type='submit' value=LOCALE.SIGN_UP size=28)
