include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.SPAM_LIST)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.SPAM_LIST} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            = LOCALE.EDIT_SPAM_LIST

        div(align='center')
            form(method='post' action='/kashiwa/spam')
                textarea(rows=45 cols=60 name='spamList') #{spamList}
                br
                input(type='submit' value=LOCALE.UPDATE)
