include _inc/thread/_head
include _inc/thread/_styles
include _inc/thread/_top_bar

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.RULES)
    body
        div.adminbar
            +Styles
            +TopBar
            | [
            a(href='/kashiwa')= LOCALE.MANAGEMENT
            | ]
            | [
            a(href='/')= LOCALE.MAIN_PAGE
            | ]
        div.logo
            | #{SITE_SETTINGS().siteName}
        div.sublogo= SITE_SETTINGS().siteSlogan
        hr

        div
            | !{SITE_SETTINGS().rulesPage}
