extends layouts/reply_layout
include components/admin_bar
include components/form/reply_form
include components/post/thread
include components/user_delete
include components/oekaki


mixin PageHeader()
    div.logo
        div.banner
            img(src=getRandomBanner() alt='banner')
        | #{SITE_SETTINGS().siteName}
    div.sublogo= SITE_SETTINGS().siteSlogan
    hr
    | [
    a(href=`/${board.url}/kashiwa.html`)= LOCALE.GO_BACK
    | ]
    div.theader
        | #{LOCALE.POST_REPLY}


mixin PostArea()
    div.postarea
        if board.boardSettings.allowPosting
            if board.boardSettings.allowOekakiThreads
                +Oekaki()

            form#postform(action=`/kashiwa/post/${board.url}/${thread.num}` method='post' enctype='multipart/form-data')
                +ReplyForm()
    ='['
    a(href=`/${board.url}/catalog`) Catalog
    =']'
    hr


mixin DelForm()
    form#delform(action=`/kashiwa/delete/${board.url}/${thread.num}` method='post')
        +Thread(board, thread)
        +UserDelete()
    script.
      setDelPass(passwordCookie)


block content
    div.reply-link-container
    +AdminBar()
    +PageHeader()
    +PostArea()
    +DelForm()
    ='['
    a(href=`/${board.url}/catalog`) Catalog
    =']'
    br(clear='all')
    +AdminBar()

    script.
      processReplyPreview('#{board.url}');
