include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.STAFF_PANEL)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.STAFF_PANEL} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            if formType === 'CREATE'
              = LOCALE.NEW_STAFF_MEMBER
            if formType === 'UPDATE'
                = LOCALE.EDIT_STAFF_MEMBER
        div(align='center')
            ='['
            a(href='/kashiwa/staff')= LOCALE.GO_BACK
            =']'

        if formType === 'CREATE'
            form(method='post' action='/kashiwa/staff/new')
                div.postarea
                    table
                        tbody
                            tr
                                td.postblock= LOCALE.USERNAME
                                td
                                    input(type='text' name='username' size=28)
                            tr
                                td.postblock= LOCALE.FORM_EMAIL
                                td
                                    input(type='email' name='email' size=28)
                            tr
                                td.postblock= LOCALE.ROLE
                                td
                                    select(name='role')
                                        option(value='ADMINISTRATOR')= LOCALE.ADMINISTRATOR
                                        option(value='MODERATOR' selected=true)= LOCALE.MODERATOR
                            tr
                                td.postblock= LOCALE.FORM_PASSWORD
                                td
                                    input(type='password' name='password' size=28)
                    div(align='center')
                        input(type='submit' value=LOCALE.CREATE size=28)

        if formType === 'UPDATE'
            form(method='post' action=`/kashiwa/staff/edit`)
                input(type='hidden' name='id' value=content.id)
                div.postarea
                    table
                        tbody
                            tr
                                td.postblock= LOCALE.USERNAME
                                td
                                    input(type='text' name='username' size=28 value=content.username)
                            tr
                                td.postblock= LOCALE.FORM_EMAIL
                                td
                                    input(type='email' name='email' size=28 value=content.email)
                            tr
                                td.postblock= LOCALE.ROLE
                                td
                                    select(name='role')
                                        if content.role === 'ADMINISTRATOR'
                                            option(value='ADMINISTRATOR' checked=true)= LOCALE.ADMINISTRATOR
                                        else
                                            option(value='ADMINISTRATOR')= LOCALE.ADMINISTRATOR
                                        if content.role === 'MODERATOR'
                                            option(value='MODERATOR' selected=true)= LOCALE.MODERATOR
                                        else
                                            option(value='MODERATOR')= LOCALE.MODERATOR
                            tr
                                td.postblock= LOCALE.FORM_PASSWORD
                                td
                                    input(type='password' name='password' size=28)
                    div(align='center')
                        input(type='submit' value=LOCALE.UPDATE size=28)

            hr
            div(align='center')
                form(method='post' action=`/kashiwa/staff/delete/${content.id}`)
                    input(type='Submit' value=LOCALE.DELETE_THIS_USER)
