include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.STAFF_PANEL)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.STAFF_PANEL} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader= LOCALE.STAFF_LIST

        table(align='center' style='white-space: nowrap')
            thead
                tr.row1
                    th= LOCALE.USERNAME
                    th= LOCALE.FORM_EMAIL
                    th= LOCALE.ROLE
                    th
            tbody
                each user, index in content.content
                  if (index + 1) % 2 === 0
                    tr.row1
                        td #{user.username}
                        td
                            a(href=`mailto:${user.email}`) #{user.email}
                        td
                            b #{user.role}
                        td
                            | [
                            a(href=`/kashiwa/staff/edit/${user.id}`)= LOCALE.EDIT
                            | ]
                  else
                      tr.row2
                          td #{user.username}
                          td
                              a(href=`mailto:${user.email}`) #{user.email}
                          td
                              b #{user.role}
                          td
                              | [
                              a(href=`/kashiwa/staff/edit/${user.id}`)= LOCALE.EDIT
                              | ]

        div(align='center')
            if content.previous !== null
              a(href=`/kashiwa/staff?page=${content.previous}` title=LOCALE.PREVIOUS) ←
            if content.next !== null
                a(href=`/kashiwa/staff?page=${content.next}` title=LOCALE.NEXT) →

            br
            ='['
            a(href='/kashiwa/staff/new')= LOCALE.ADD_NEW
            =']'
