mixin AdminBoardCreateForm()
    table
        tbody
            tr
                td.postblock= LOCALE.URL
                td
                    input(type='text' name='url' size=28)
            tr
                td.postblock= LOCALE.NAME
                td
                    input(type='text' name='name' size=28)
            tr
                td.postblock= LOCALE.ALLOW_POSTING
                td
                    input(type='checkbox' name='allowPosting' checked=true)
            tr
                td.postblock
                    abbr(title=LOCALE.STRICT_ANONYMITY_ABBR)= LOCALE.STRICT_ANONYMITY
                td
                    input(type='checkbox' name='strictAnonymity')
            tr
                td.postblock= LOCALE.THREAD_FILE_POLICY
                td
                    select(name='threadFileAttachmentMode')
                        option(value='STRICT')= LOCALE.FILE_POLICY_STRICT
                        option(value='OPTIONAL' selected=true)= LOCALE.FILE_POLICY_OPTIONAL
                        option(value='FORBIDDEN' )= LOCALE.FILE_POLICY_FORBIDDEN
            tr
                td.postblock= LOCALE.REPLY_FILE_POLICY
                td
                    select(name='replyFileAttachmentMode')
                        option(value='STRICT')= LOCALE.FILE_POLICY_STRICT
                        option(value='OPTIONAL' selected=true)= LOCALE.FILE_POLICY_OPTIONAL
                        option(value='FORBIDDEN' )= LOCALE.FILE_POLICY_FORBIDDEN
            tr
                td.postblock= LOCALE.DELAY_AFTER_THREAD
                td
                    input(type='number' min=1, value=30 name='delayAfterThread')
                    = LOCALE.SECONDS
            tr
                td.postblock= LOCALE.DELAY_AFTER_REPLY
                td
                    input(type='number' min=1, value=15 name='delayAfterReply')
                    = LOCALE.SECONDS
            tr
                td.postblock= LOCALE.MIN_FILE_SIZE
                td
                    input(type='number' min=1, value=1 name='minFileSize')
                    = LOCALE.BYTES
            tr
                td.postblock= LOCALE.MAX_FILE_SIZE
                td
                    input(type='number' min=1, value=3145728 name='maxFileSize')
                    = LOCALE.BYTES
            tr
                td.postblock
                    abbr(title=LOCALE.ALLOW_MARKDOWN_ABBR)= LOCALE.ALLOW_MARKDOWN
                td
                    input(type='checkbox' name='allowMarkdown' checked=true)
            tr
                td.postblock= LOCALE.ALLOW_TRIPCODES
                td
                    input(type='checkbox' name='allowTripcodes' checked=true)
            tr
                td.postblock= LOCALE.MAX_THREADS_ON_BOARD
                td
                    input(type='number' min=1, value=30 name='maxThreadsOnBoard')
            tr
                td.postblock= LOCALE.BUMP_LIMIT
                td
                    input(type='number' min=1, value=100 name='bumpLimit')
            tr
                td.postblock
                    abbr(title=LOCALE.MAX_STRING_FIELD_SIZE_ABBR)= LOCALE.MAX_STRING_FIELD_SIZE
                td
                    input(type='number' min=1, value=100 name='maxStringFieldSize')
            tr
                td.postblock= LOCALE.MAX_COMMENT_SIZE
                td
                    input(type='number' min=1, value=1000 name='maxCommentSize')
            tr
                td.postblock= LOCALE.DEFAULT_POSTER_NAME
                td
                    input(type='text' name='defaultPosterName' value=LOCALE.ANONYMOUS)
            tr
                td.postblock= LOCALE.DEFAULT_MODERATOR_NAME
                td
                    input(type='text' name='defaultModeratorName' value=LOCALE.MODERATOR)
            tr
                td.postblock= LOCALE.ENABLE_CAPTCHA
                td
                    input(type='checkbox' name='enableCaptcha')
            tr
                td.postblock= LOCALE.IS_CAPTCHA_CASE_SENSITIVE
                td
                    input(type='checkbox' name='isCaptchaCaseSensitive')
            tr
                td.postblock= LOCALE.ALLOWED_FILE_TYPES
                td
                    each fileType in content.getSupportedFileTypes()
                        if fileType[0].split('/')[0] === 'image'
                            input(type='checkbox' name='allowedFileTypes' checked='true' value=fileType[0])
                            | #{fileType[1]}
                            br
                        else
                            input(type='checkbox' name='allowedFileTypes' value=fileType[0])
                            | #{fileType[1]}
                            br
            tr
                td.postblock= LOCALE.RULES
                td
                    textarea(name='rules' rows=6 cols=60)= LOCALE.RULES_DEFAULT
