mixin AdminLinks(role)
    div(align='center')
        | [
        a(href='/kashiwa')= LOCALE.DASHBOARD
        | ]
        if role === 'ADMINISTRATOR'
            | [
            a(href='/kashiwa/global-settings')= LOCALE.SITE_SETTINGS
            | ]
            | [
            a(href='/kashiwa/staff')= LOCALE.STAFF_PANEL
            | ]
            | [
            a(href='/kashiwa/board')= LOCALE.BOARDS
            | ]
        | [
        a(href='/kashiwa/moderation')= LOCALE.MODERATION
        | ]
        | [
        a(href='/kashiwa/ban')= LOCALE.BANNED_POSTERS
        | ]
        if role === 'ADMINISTRATOR'
            | [
            a(href='/kashiwa/spam')= LOCALE.SPAM_LIST
            | ]
            | [
            a(href='/kashiwa/ip-filter')= LOCALE.IP_FILTER
            | ]
            | [
            a(href='/kashiwa/dump')= LOCALE.SITE_DUMP
            | ]
