include ./../hlp/_hlp_file_attachment_policy
include ./../hlp/_hlp_allowed_file_types

mixin AdminBoardUpdateForm
    table
        tbody
            tr
                td.postblock URL
                td
                    input(type='text' name='url' size=28 value=content.url)
            tr
                td.postblock Name
                td
                    input(type='text' name='name' size=28 value=content.name)
            tr
                td.postblock Allow posting
                td
                    input(type='checkbox' name='allowPosting' checked=content.allowPosting)
            tr
                td.postblock
                    abbr(title='Disable Name & Email fields') Strict anonymity
                td
                    input(type='checkbox' name='strictAnonymity' checked=content.strictAnonymity)
            tr
                td.postblock Thread file attachment policy
                td
                    +HlpFileAttachmentPolicy('threadFileAttachmentMode', content.threadFileAttachmentMode)
            tr
                td.postblock Reply file attachment policy
                td
                    +HlpFileAttachmentPolicy('replyFileAttachmentMode', content.replyFileAttachmentMode)
            tr
                td.postblock Delay after thread creation
                td
                    input(type='number' min=1 name='delayAfterThread' value=content.delayAfterThread)
                    =' seconds'
            tr
                td.postblock Delay after reply creation
                td
                    input(type='number' min=1 name='delayAfterReply' value=content.delayAfterReply)
                    =' seconds'
            tr
                td.postblock Minimal file size
                td
                    input(type='number' min=1 name='minFileSize' value=content.minFileSize)
                    =' bytes'
            tr
                td.postblock Maximal file size
                td
                    input(type='number' min=1  name='maxFileSize' value=content.maxFileSize)
                    =' bytes'
            tr
                td.postblock
                    abbr(title='If it is set to "no", only replies and citations will be allowed') Allow markdown
                td
                    input(type='checkbox' name='allowMarkdown' checked=content.allowMarkdown)
            tr
                td.postblock Allow tripcodes
                td
                    input(type='checkbox' name='allowTripcodes' checked=content.allowTripcodes)
            tr
                td.postblock Max thread on board
                td
                    input(type='number' min=1 name='maxThreadsOnBoard' value=content.maxThreadsOnBoard)
            tr
                td.postblock Bump limit
                td
                    input(type='number' min=1 name='bumpLimit' value=content.bumpLimit)
            tr
                td.postblock
                    abbr(title='For Name, Email, Subject') Max string field size
                td
                    input(type='number' min=1 name='maxStringFieldSize' value=content.maxStringFieldSize)
            tr
                td.postblock Max comment size
                td
                    input(type='number' min=1 name='maxCommentSize' value=content.maxCommentSize)
            tr
                td.postblock Default poster name
                td
                    input(type='text' name='defaultPosterName' value=content.defaultPosterName)
            tr
                td.postblock Default moderator name
                td
                    input(type='text' name='defaultModeratorName' value=content.defaultModeratorName)
            tr
                td.postblock Enable captcha
                td
                    input(type='checkbox' name='enableCaptcha' checked=content.enableCaptcha)
            tr
                td.postblock Is captcha case sensitive
                td
                    input(type='checkbox' name='isCaptchaCaseSensitive' checked=content.isCaptchaCaseSensitive)
            tr
                td.postblock Allowed file types
                td
                    +HlpAllowedFileTypes(content.getSupportedFileTypes(), content.allowedFileTypes)
            tr
                td.postblock Rules
                td
                    textarea(name='rules' rows=6 cols=60) #{content.rules}
