include ./../hlp/_hlp_file_attachment_policy
include ./../hlp/_hlp_allowed_file_types

mixin AdminBoardUpdateForm
    table
        tbody
            tr
                td.postblock= LOCALE.URL
                td
                    input(type='text' name='url' size=28 value=content.url)
            tr
                td.postblock= LOCALE.NAME
                td
                    input(type='text' name='name' size=28 value=content.name)
            tr
                td.postblock= LOCALE.ALLOW_POSTING
                td
                    input(type='checkbox' name='allowPosting' checked=content.allowPosting)
            tr
                td.postblock
                    abbr(title=LOCALE.STRICT_ANONYMITY_ABBR)= LOCALE.STRICT_ANONYMITY
                td
                    input(type='checkbox' name='strictAnonymity' checked=content.strictAnonymity)
            tr
                td.postblock= LOCALE.THREAD_FILE_POLICY
                td
                    +HlpFileAttachmentPolicy('threadFileAttachmentMode', content.threadFileAttachmentMode)
            tr
                td.postblock= LOCALE.REPLY_FILE_POLICY
                td
                    +HlpFileAttachmentPolicy('replyFileAttachmentMode', content.replyFileAttachmentMode)
            tr
                td.postblock= LOCALE.DELAY_AFTER_THREAD
                td
                    input(type='number' min=1 name='delayAfterThread' value=content.delayAfterThread)
                    = LOCALE.SECONDS
            tr
                td.postblock= LOCALE.DELAY_AFTER_REPLY
                td
                    input(type='number' min=1 name='delayAfterReply' value=content.delayAfterReply)
                    = LOCALE.SECONDS
            tr
                td.postblock= LOCALE.MIN_FILE_SIZE
                td
                    input(type='number' min=1 name='minFileSize' value=content.minFileSize)
                    = LOCALE.BYTES
            tr
                td.postblock= LOCALE.MAX_FILE_SIZE
                td
                    input(type='number' min=1  name='maxFileSize' value=content.maxFileSize)
                    = LOCALE.BYTES
            tr
                td.postblock
                    abbr(title=LOCALE.ALLOW_MARKDOWN_ABBR)= LOCALE.ALLOW_MARKDOWN
                td
                    input(type='checkbox' name='allowMarkdown' checked=content.allowMarkdown)
            tr
                td.postblock= LOCALE.ALLOW_TRIPCODES
                td
                    input(type='checkbox' name='allowTripcodes' checked=content.allowTripcodes)
            tr
                td.postblock= LOCALE.MAX_THREADS_ON_BOARD
                td
                    input(type='number' min=1 name='maxThreadsOnBoard' value=content.maxThreadsOnBoard)
            tr
                td.postblock= LOCALE.BUMP_LIMIT
                td
                    input(type='number' min=1 name='bumpLimit' value=content.bumpLimit)
            tr
                td.postblock
                    abbr(title=LOCALE.MAX_STRING_FIELD_SIZE_ABBR)= LOCALE.MAX_STRING_FIELD_SIZE
                td
                    input(type='number' min=1 name='maxStringFieldSize' value=content.maxStringFieldSize)
            tr
                td.postblock= LOCALE.MAX_COMMENT_SIZE
                td
                    input(type='number' min=1 name='maxCommentSize' value=content.maxCommentSize)
            tr
                td.postblock= LOCALE.DEFAULT_POSTER_NAME
                td
                    input(type='text' name='defaultPosterName' value=content.defaultPosterName)
            tr
                td.postblock= LOCALE.DEFAULT_MODERATOR_NAME
                td
                    input(type='text' name='defaultModeratorName' value=content.defaultModeratorName)
            tr
                td.postblock= LOCALE.ENABLE_CAPTCHA
                td
                    input(type='checkbox' name='enableCaptcha' checked=content.enableCaptcha)
            tr
                td.postblock= LOCALE.IS_CAPTCHA_CASE_SENSITIVE
                td
                    input(type='checkbox' name='isCaptchaCaseSensitive' checked=content.isCaptchaCaseSensitive)
            tr
                td.postblock= LOCALE.ALLOWED_FILE_TYPES
                td
                    +HlpAllowedFileTypes(content.getSupportedFileTypes(), content.allowedFileTypes)
            tr
                td.postblock= LOCALE.RULES
                td
                    textarea(name='rules' rows=6 cols=60) #{content.rules}
