include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links
include ../../_inc/admin/_admin-board-create-form
include ../../_inc/admin/_admin_board-update-form

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.BOARDS)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.BOARDS} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            if formType === 'CREATE'
                = LOCALE.NEW_BOARD
            if formType === 'UPDATE'
                = LOCALE.EDIT_BOARD
        div(align='center')
            ='['
            a(href='/kashiwa/board')= LOCALE.GO_BACK
            =']'

        if formType === 'CREATE'
            form(method='post' action='/kashiwa/board/new')
                div.postarea
                    +AdminBoardCreateForm
                    div(align='center')
                        input(type='submit' value=LOCALE.CREATE size=28)

        if formType === 'UPDATE'
            form(method='post' action=`/kashiwa/board/edit`)
                input(type='hidden' name='id' value=content.id)
                div.postarea
                    +AdminBoardUpdateForm
                    div(align='center')
                        input(type='submit' value=LOCALE.UPDATE size=28)

            div(align='center')
                form(method='post' action=`/kashiwa/board/reload/${content.id}`)
                    input(type='Submit' value=LOCALE.RELOAD_BOARD_CACHE)

            hr
            div(align='center')
                form(method='post' action=`/kashiwa/board/clear/${content.id}`)
                    input(type='Submit' value=LOCALE.CLEAR_BOARD_CACHE)

            div(align='center')
                form(method='post' action=`/kashiwa/board/delete/${content.id}`)
                    input(type='Submit' value=LOCALE.DELETE_THIS_BOARD)
