include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.BOARDS)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.BOARDS} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            = LOCALE.BOARD_LIST

        table(align='center' style='white-space: nowrap')
            thead
                tr.row1
                    th= LOCALE.URL
                    th= LOCALE.NAME
                    th= LOCALE.LAST_POST_INDEX
                    th
            tbody
              each board, index in content.content
                  if (index + 1) % 2 === 0
                      tr.row1
                          td
                            a(href=`/${board.url}/kashiwa.html`) /#{board.url}/
                          td #{board.name}
                          td #{board.postCount}
                          td
                              | [
                              a(href=`/kashiwa/board/edit/${board.id}`)= LOCALE.EDIT
                              | ]
                  else
                      tr.row2
                          td
                              a(href=`/${board.url}/kashiwa.html`) /#{board.url}/
                          td #{board.name}
                          td #{board.postCount}
                          td
                              | [
                              a(href=`/kashiwa/board/edit/${board.id}`)= LOCALE.EDIT
                              | ]

        div(align='center')
            if content.previous !== null
                a(href=`/kashiwa/board?page=${content.previous}` title=LOCALE.PREVIOUS) ←
            if content.next !== null
                a(href=`/kashiwa/board?page=${content.next}` title=LOCALE.NEXT) →

            br
            ='['
            a(href='/kashiwa/board/new')= LOCALE.ADD_NEW
            =']'
