include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.SITE_DUMP)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.SITE_DUMP} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            = LOCALE.SITE_DUMP

        div(align='center')
            form(method='post' action=`/kashiwa/dump`)
                div.postarea

                    table
                        tbody
                            tr
                                td.postblock=LOCALE.DATABASE_TABLES
                                td
                                    input(type='checkbox' name='dbTable' value='_prisma_migrations' checked=true id='_prisma_migrations')
                                    label(for='_prisma_migrations')= '_prisma_migrations'
                                    br
                                    input(type='checkbox' name='dbTable' value='ban' checked=true id='ban')
                                    label(for='ban')= 'ban'
                                    br
                                    input(type='checkbox' name='dbTable' value='board' checked=true id='board')
                                    label(for='board')= 'board & board_settings'
                                    br
                                    input(type='checkbox' name='dbTable' value='comment' checked=true id='comment')
                                    label(for='comment')= 'comment & attached_file'
                                    br
                                    input(type='checkbox' name='dbTable' value='user' checked=true id='user')
                                    label(for='user')= 'user'
                            tr
                                td.postblock=LOCALE.ADDITIONAL
                                td
                                    input(type='checkbox' name='additional' value='cache' checked=true id='cache')
                                    label(for='cache')=LOCALE.BOARDS_CACHE
                                    br
                                    input(type='checkbox' name='additional' value='settings' checked=true id='settings')
                                    label(for='settings')=LOCALE.SITE_SETTINGS

                    div(align='center')
                        input(type='submit' value=LOCALE.MAKE_DUMP size=28)

                    if content.createdArchivePath
                        div(align='center')
                            p=LOCALE.DUMP_CREATED
                                code=content.createdArchivePath