include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.MODERATION)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.MODERATION} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader
            = LOCALE.CHOOSE_A_BOARD

        table(align='center' style='white-space: nowrap')
            thead
                tr.row1
                    th= LOCALE.URL
                    th= LOCALE.NAME
                    th
            tbody
              each board, index in content.content
                  if (index + 1) % 2 === 0
                      tr.row1
                          td
                              a(target='_blank' href=`/${board.url}/kashiwa.html`) /#{board.url}/
                          td #{board.name}
                          td
                              | [
                              a(href=`/kashiwa/moderation/${board.id}?limit=30`)= LOCALE.GO_TO_MODERATION
                              | ]
                  else
                      tr.row2
                          td
                              a(target='_blank' href=`/${board.url}/kashiwa.html`) /#{board.url}/
                          td #{board.name}
                          td
                              | [
                              a(href=`/kashiwa/moderation/${board.id}?limit=30`)= LOCALE.GO_TO_MODERATION
                              | ]

        div(align='center')
            if content.previous !== null
                a(href=`/kashiwa/moderation?page=${content.previous}` title=LOCALE.PREVIOUS) ←
            if content.next !== null
                a(href=`/kashiwa/moderation?page=${content.next}` title=LOCALE.NEXT) →
