include ../../_inc/thread/_head
include ../../_inc/admin/_admin-bar
include ../../_inc/admin/_admin-links

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.MODERATION)
    body
        +AdminBar(session.payload.role)
        div.logo #{LOCALE.MODERATION} - #{SITE_SETTINGS().siteName}
        hr
        + AdminLinks(session.payload.role)
        div.theader= LOCALE.COMMENTS_MODERATION

        div(align='center')
            ='['
            a(href='/kashiwa/moderation')= LOCALE.GO_BACK
            =']'

        table(align='center' style='white-space: nowrap')
            thead
                tr.row1
                    th= LOCALE.CREATED_AT
                    th= LOCALE.IP
                    th= LOCALE.FORM_NAME
                    th= LOCALE.FORM_EMAIL
                    th= LOCALE.FORM_SUBJECT
                    th= LOCALE.FORM_COMMENT
                    th= LOCALE.FORM_FILE
                    th= LOCALE.LINK
                    th= LOCALE.ACTIONS
            tbody
              each comment, index in content.content
                  if ((index + 1) % 2) === 0
                      tr.row1
                          td #{formatDateTime(comment.createdAt)}
                          td #{comment.ip}
                          td #{comment.name}
                          td #{comment.email ? comment.email : '-'}
                          td #{comment.subject ? comment.subject : '-'}
                          td !{comment.comment}
                          td
                              if comment.attachedFile
                                  if comment.attachedFile.isImage
                                      if comment.attachedFile.thumbnail
                                          a(href=`/${comment.attachedFile.boardUrl}/src/${comment.attachedFile.name}` target='blank')
                                              img(
                                                  alt='no thumb'
                                                  width=comment.attachedFile.thumbnailWidth
                                                  height=comment.attachedFile.thumbnailHeight
                                                  src=`/${comment.attachedFile.boardUrl}/thumb/${comment.attachedFile.thumbnail}`
                                              )
                                      else
                                          div.nothumb= LOCALE.FILE_WAS_DELETED
                                  else
                                      if comment.attachedFile.name === 'NO_THUMB'
                                          div.nothumb= LOCALE.FILE_WAS_DELETED
                                      else
                                          a(href=`/${comment.attachedFile.boardUrl}/src/${comment.attachedFile.name}` target='blank')
                                              img(
                                                  alt='File'
                                                  width=86
                                                  height=86
                                                  src=`/img/file.png`
                                              )
                              else
                                  ='-'
                          td
                            ='['
                            a(target='_blank' href=`/${comment.boardUrl}/res/${comment.parentNum.toString()}.html#${comment.num.toString()}`)= LOCALE.GO_TO_POST
                            =']'
                          td
                              form(method='post' action=`/kashiwa/moderation/delete-post/${comment.id}`)
                                  ='['
                                  a(href=`/kashiwa/ban/new?ip=${comment.ip}` target='_blank')= LOCALE.BAN_THIS_POSTER
                                  =']'
                                  input(type='hidden' name='ip' value=comment.ip)
                                  input(type='hidden' name='redirect' value=`/kashiwa/moderation/${boardId}?page=${content.current}&limit=30`)
                                  input(type='submit' name='post' value=LOCALE.DELETE_THIS_POST)
                                  input(type='submit' name='file' value=LOCALE.DELETE_THIS_FILE)
                                  input(type='submit' name='allByIp' value=LOCALE.DELETE_ALL_BY_IP)
                  else
                      tr.row2
                          td #{formatDateTime(comment.createdAt)}
                          td #{comment.ip}
                          td #{comment.name}
                          td #{comment.email ? comment.email : '-'}
                          td #{comment.subject ? comment.subject : '-'}
                          td !{comment.comment}
                          td
                            if comment.attachedFile
                              if comment.attachedFile.isImage
                                if comment.attachedFile.thumbnail
                                    a(href=`/${comment.attachedFile.boardUrl}/src/${comment.attachedFile.name}` target='blank')
                                        img(
                                            alt='no thumb'
                                            width=comment.attachedFile.thumbnailWidth
                                            height=comment.attachedFile.thumbnailHeight
                                            src=`/${comment.attachedFile.boardUrl}/thumb/${comment.attachedFile.thumbnail}`
                                        )
                                else
                                    div.nothumb= LOCALE.FILE_WAS_DELETED
                              else
                                if comment.attachedFile.name === 'NO_THUMB'
                                  div.nothumb= LOCALE.FILE_WAS_DELETED
                                else
                                    a(href=`/${comment.attachedFile.boardUrl}/src/${comment.attachedFile.name}` target='blank')
                                        img(
                                            alt='File'
                                            width=86
                                            height=86
                                            src=`/img/file.png`
                                        )
                            else
                                ='-'
                          td
                              ='['
                              a(target='_blank' href=`/${comment.boardUrl}/res/${comment.parentNum.toString()}.html#${comment.num.toString()}`)= LOCALE.GO_TO_POST
                              =']'
                          td
                            form(method='post' action=`/kashiwa/moderation/delete-post/${comment.id}`)
                                ='['
                                a(href=`/kashiwa/ban/new?ip=${comment.ip}` target='_blank')= LOCALE.BAN_THIS_POSTER
                                =']'
                                input(type='hidden' name='boardId' value=boardId)
                                input(type='hidden' name='ip' value=comment.ip)
                                input(type='hidden' name='redirect' value=`/kashiwa/moderation/${boardId}?page=${content.current}&limit=30`)
                                input(type='submit' name='post' value=LOCALE.DELETE_THIS_POST)
                                input(type='submit' name='file' value=LOCALE.DELETE_THIS_FILE)
                                input(type='submit' name='allByIp' value=LOCALE.DELETE_ALL_BY_IP)

        div(align='center')
            if content.previous !== null
                a(href=`/kashiwa/moderation/${boardId}?page=${content.previous}` title=LOCALE.PREVIOUS) ←
            if content.next !== null
                a(href=`/kashiwa/moderation/${boardId}?page=${content.next}` title=LOCALE.NEXT) →
