mixin HlpAllowedFileTypes(supportedFileTypes, allowedFileTypes)
  each fileType in supportedFileTypes
      if allowedFileTypes.includes(fileType[0])
        input(type='checkbox' name='allowedFileTypes' value=fileType[0] checked=true)
        | #{fileType[1]}
        br
      else
          input(type='checkbox' name='allowedFileTypes' value=fileType[0])
          | #{fileType[1]}
          br
