mixin HlpFileAttachmentPolicy(_name, _option)
    select(name=_name)
        if _option === 'STRICT'
            option(value='STRICT' selected=true)= LOCALE.FILE_POLICY_STRICT
        else
            option(value='STRICT')= LOCALE.FILE_POLICY_STRICT

        if _option === 'OPTIONAL'
            option(value='OPTIONAL' selected=true)= LOCALE.FILE_POLICY_OPTIONAL
        else
            option(value='OPTIONAL')= LOCALE.FILE_POLICY_OPTIONAL

        if _option === 'FORBIDDEN'
            option(value='FORBIDDEN' selected=true)= LOCALE.FILE_POLICY_FORBIDDEN
        else
            option(value='FORBIDDEN')= LOCALE.FILE_POLICY_FORBIDDEN
